@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.card {
  @apply min-w-fit h-52 rounded-2xl overflow-hidden shadow-sm shadow-gray-300 transition duration-300 ease-in-out hover:-translate-y-3 hover:shadow-lg lg:h-64;
}

.card:nth-child(even) {
  @apply bg-white text-tertiary;
}
.card:nth-child(odd) {
  @apply bg-secondary text-white;
}
